.spcl {
      color: rgb(229, 242, 143);
}

.about-img {
      width: 20%;
      height: 20%;
      max-width: 40px;
      border-radius: 50%;
      object-fit: cover;
      transition: transform 0.3s ease;
}

.about-img:hover {
      transform: scale(1.05);
}

.about-text-container {
     
      margin-top: 10px;
      text-align: center;
      line-height: 1.9;
      font-size: 1rem;         
    }


@media (max-width: 768px) {
  .about-text-container {
      padding: 0 25px;
  }
}
