.bg-bg{
    
    background-color:#150916;
}

.common-text{
    color:rgb(242, 171, 241);
    font-size: 20px;
    text-align: justify;
    
}
.common-head{
    color: #f6b0e6;
    font-size:75px;
}

.common-shead{
    color:#fccbf0;
    font-size: medium;
}

.section-spacing {
  padding-top: 10px;  
  /* padding-bottom: 10px; */
  scroll-margin-top: 10px; 
}

.section-full {
  
  display: flex;
  align-items: center;
  justify-content: center;
}


