.bg-bg{
    
    background-color:#270b24;
}

.common-text{
    color:rgb(234, 188, 233);
}

.common-head{
    color: rgb(253, 178, 224);
    font-size:x-large;
}

.common-shead{
    color:rgb(252, 187, 232);
    font-size: medium;
}

.section-spacing {
  padding-top: 100px;  
  padding-bottom: 100px;
  scroll-margin-top: 10px; 
}

.section-full {
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}


