.bg-bg{
    
    background-color:#13030f;
}

.common-text{
    color:rgb(242, 171, 241);
    font-size: x-large;
    
}
.common-head{
    color: #f6b0e6;
    font-size:75px;
}

.common-shead{
    color:#fccbf0;
    font-size: medium;
}

.section-spacing {
  padding-top: 50px;  
  padding-bottom: 50px;
  scroll-margin-top: 10px; 
}

.section-full {
  
  display: flex;
  align-items: center;
  justify-content: center;
}


