a.text-light:hover {
  color: #0dcaf0 !important;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.contact-form .form-control {
  background-color: rgba(53, 2, 53, 0.695) !important; 
  color: #fff !important;
  border: 1px solid rgb(74, 39, 76) !important;
  border-radius: 20px;
  padding: 12px 15px;
  transition: all 0.3s ease;
}

.contact-form .form-control::placeholder {
  color: rgb(234, 188, 233) !important;
}

.contact-form .form-control:focus {
  background-color: rgba(23, 3, 21, 0.737)!important;
  border-color: rgba(250, 161, 239, 0.912) !important;
  box-shadow: 0 0 10px rgba(168, 224, 248, 0.934) !important;
  outline: none;
}
.contact-btn{
    border: 2px solid #ffa3ff !important;
  color: #ffa3ff !important;
  transition: all 0.3s ease;
  
}

.contact-btn:hover {
  background-color: #ffa3ff !important;
  color:#2f062f !important;
}


