.home-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh; 
}



.home-text {
  font-family: sans-serif;
  color: rgb(249, 198, 246);
  font-size: 1rem;
}


.home-img-container {
  display: grid;
  place-items: center;     
  width: 100%;
  overflow: hidden;
  position: relative;
}


.home-img {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.home-img-container:hover .home-img {
  transform: scale(1.05);
}

.overlay {
 grid-area: 1 / 1;
  inset: 0;
  background: rgba(21, 1, 20, 0.35);
}

.overlay-text {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;      
  text-align: center;
  z-index: 2;
}
.custom-btn {
  border: 2px solid #f69cdf !important;
  color: #f69cdf !important;
  transition: all 0.3s ease;
  border-radius: 70px;
  font-size: 20px;
}

.custom-btn:hover {
  background-color: #f69cdf !important;
  color: #14021a !important;
}
