.home-text{
    font-family: sans-serif;
    color: rgb(253, 178, 224);
    font-size: xx-large;

}



.custom-btn {
  border: 2px solid #ffa3ff !important;
  color: #ffa3ff !important;
  transition: all 0.3s ease;
  
}

.custom-btn:hover {
  background-color: #ffa3ff !important;
  color:#2f062f !important;
}

.home-img{
  max-width:400px;
  width:50%;
  border-radius:0;
  transition: transform 0.3s ease;
}

.home-img:hover {
  transform: scale(1.05);
}

