.projects-section {
  
  background-size: 40px 25px;
  color: #ccdd4d;
  padding-bottom: 100px;
}

.project-title {
  
  font-size: 3.5rem;
}

.highlight {
  color: #c591e0;
}

.project-card {
  background: rgba(53, 2, 53, 0.695);
  border: 1px solid rgb(74, 39, 76);
  transition: transform 0.4s ease, box-shadow 0.4s ease, border-color 0.4s ease;
  min-height: 450px; 
  padding: 2rem; 
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(249, 165, 255, 0.849);
  border-color: #d48afc;
  background-color: rgba(23, 3, 21, 0.737);
}

.project-img img {
  border: 2px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

.project-img img:hover {
  transform: scale(1.03);
}

.btn-outline,
.btn-outline-info {
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-outline-light:hover,
.btn-outline-info:hover {
  background-color: #d48afc;
  border-color: #d48afc;
  color: #fff;
}

text-tt{
  color:#fffeb4;
}
