.skill-icon {
  width:115%;            
  height: 160px; 
  padding:10px;               
  border-radius: 50%;            
  background-color: rgba(53, 2, 53, 0.695);
  border: 2px solid rgb(242, 174, 232);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, box-shadow 0.3s;
  backdrop-filter: blur(8px);
  cursor: pointer;
  padding:10px;
  
 
}

.skill-icon i {
  font-size: 50px;
  transition: transform 0.3s;
  
  
}

.skill-icon p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 1rem;
  
}

.skill-icon:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 0 25px rgba(167, 7, 125, 0.8);
  background:  rgba(23, 3, 21, 0.737);
  border-color: #d48afc;
 
}

.skill-icon:hover i {
  transform: scale(1.2);
}

.skill-font{
  color:rgb(206, 51, 233)
}


