.skill-icon {
  width: 100%;                   
  height: 300px;                  
  border-radius: 50%;            
  background-color: rgba(53, 2, 53, 0.695);
  border: 1px solid rgb(74, 39, 76);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, box-shadow 0.3s;
  backdrop-filter: blur(8px);
  cursor: pointer;
}

.skill-icon i {
  font-size: 120px;
  transition: transform 0.3s;
}

.skill-icon p {
  margin-top: 10px;
  font-weight: 300;
  font-size: 1.5rem;
}

.skill-icon:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 0 25px rgba(167, 7, 125, 0.8);
  background: rgba(23, 3, 21, 0.737);
  border-color: rgba(250, 161, 239, 0.912);
}

.skill-icon:hover i {
  transform: scale(1.2);
}

.skill-font{
  color:rgb(206, 51, 233)
}